<mat-toolbar fxLayoutGap="1rem" fxLayout="row" fxLayoutAlign="flex-start center">
  <button (click)="toggleDrawer()" *ngIf="isMobile" mat-icon-button>
    <mat-icon>{{drawer?.opened ? 'clear' : 'menu'}}</mat-icon>
  </button>
  <img routerLink="" class="h-80 cp" src="/assets/images/logo.svg" />
  <span fxFlex="1 1 auto"></span>
  <button class="hide-text" [matBadgeHidden]="profile?.lastSeen == null" [matBadgeOverlap]="true" matBadgePosition="below after"
    matBadge="." matBadgeColor="primary" matBadgeSize="small" [matMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon *ngIf="!user">more_vert</mat-icon>
    <img *ngIf="user" [src]="user.photoURL" class="avatar" />
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <span mat-menu-item *ngIf="user" class="tc">{{user.displayName}}</span>
  <button [matMenuTriggerFor]="langMenu" mat-menu-item>
    <mat-icon>language</mat-icon>
    <span>{{'ui.header.language' | translate}}</span>
  </button>
  <button *ngIf="user" (click)="logout()" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>{{'ui.header.logout' | translate}}</span>
  </button>
</mat-menu>

<mat-menu #langMenu="matMenu">
  <button (click)="changeLanguage(l.code)" *ngFor="let l of allLanguages" mat-menu-item>
    <mat-icon>home</mat-icon>
    <span [style.fontWeight]="translateService.currentLang === l.code ? 700 : 400">{{l.label}}</span>
  </button>
</mat-menu>
