<div fxLayout="column" fxLayoutGap="1rem">
  <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="flex-start center">
    <button (click)="openAddContact()" mat-raised-button color="accent">
      {{'ui.contacts.add' | translate}}
    </button>
    <button (click)="deleteSelectedContacts()" [disabled]="selectedContacts.length === 0" mat-raised-button color="warn">
      {{'ui.contacts.delete' | translate}}
    </button>
  </div>

  <mat-selection-list (selectionChange)="contactsSelectionChanged($event)" #contactsList>
    <mat-list-option [value]="p" *ngFor="let p of profiles">
      <img [src]="p.photo" mat-list-icon />
      <div>{{p.displayName}}</div>
      <i class="small">{{p.email}}</i>
    </mat-list-option>
  </mat-selection-list>
</div>
