<div fxFlex="1 1 auto" fxLayout="row">
  <form (submit)="forgotPassword()" fxFlex="1 1 100%" fxFlex.gt-xs="1 1 75%" fxFlex.gt-sm="50%" fxFlex.gt-md="1 1 33%" [formGroup]="form"
    class="m-auto">
    <h1>{{'ui.forgotPassword.forgotPassword' | translate}}</h1>
    <mat-error *ngIf="form.hasError('backend')">
      <mat-error *ngFor="let err of form.getError('backend')">
        {{ err | translate }}
      </mat-error>
    </mat-error>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{'ui.forgotPassword.email' | translate}}</mat-label>
      <input type="email" required matInput formControlName="email" />
      <mat-error *ngIf="form.get('email')!.hasError('required')">{{'ui.forgotPassword.emailRequired' | translate}}</mat-error>
      <mat-error *ngIf="form.get('email')!.hasError('email')">{{'ui.forgotPassword.invalidEmail' | translate}}</mat-error>
    </mat-form-field>
    <br />
    <div fxLayout="row" fxLayoutAlign="center center">
      <a routerLink="/login">{{'ui.forgotPassword.backToLogin' | translate}}</a>
    </div>
    <br />
    <div fxLayout="row" fxLayoutAlign="center center">
      <button [disabled]="form.invalid" mat-raised-button color="accent">
        {{'ui.forgotPassword.sendRecoveryEmail' | translate}}
      </button>
    </div>
  </form>
</div>
